<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha512-FOS5ANNUsuvefA5Fm6hZBLsxqfF105LIysEgV8VNz29jZLVYIhI+MOLKPBmMXgkHhARFHf5pE7KbXOLE6TXW0A==" crossorigin="anonymous" />
    <title>Title</title>
</head>
<div class="container">
    <body style="background-color: {{ colour }}">

<form method="post" style="text-align: center">
    {% csrf_token %}


    <button name="green" class="btn btn-success">green</button><br><br>
    <button name="blue" class="btn btn-primary">blue</button><br><br>
    <button name="yellow" class="btn btn-warning">yellow</button><br><br>
    <button name="navyblue" class="btn btn-info">navyblue</button><br><br>







</form>






</body>

</div>

</html>