<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha512-FOS5ANNUsuvefA5Fm6hZBLsxqfF105LIysEgV8VNz29jZLVYIhI+MOLKPBmMXgkHhARFHf5pE7KbXOLE6TXW0A==" crossorigin="anonymous" />
    <title>Title</title>
</head>
<body style="background-color:#FFAF42;">
<h1 style="text-align:center;"> Welcome to your working Environment </h1><br><br>
<form method="post" style="text-align:center;>
    {% csrf_token %}

    <a href="/" class="btn-btn-success"><button>Homepage</button></a>

    <button><a href="/Feedback/" class="btn-btn-warning">Employee Feedback</a></button>

    <button><a href="/color/" class="btn-btn-success">Employee Stack</a></button>
    <button><a href="/filter/" class="btn-btn-success">Find specific data</a></button>



</form>


</body>
</html>